<div class="graph-container">
    <div class="form-container">
        <form class="scores-form" ng-submit="getScores()">
            <h2>User ID</h2>
            <select ng-init="userId = ids[0]"  ng-model="userId" ng-options="item for item in ids">
            </select>
            <h2>Graph Type</h2>
            <select ng-init="graphStyle = graphType[0]"  ng-model="graphStyle" ng-options="graph for graph in graphType">
            </select>
            <button type="sumbit">Submit</button>
        </form>
        <div id="chart_div"></div>
    </div>
</div>
