<div class="score-container">
    <div class="form-container">
        <form class="scores-form">
            <h2>Post your climbing scores</h2>
            <div><label>Spotty</label><input type="text" placeholder="Spotty"></div>
            <div><label>Black</label><input type="text" placeholder="Black"></div>
            <div><label>Tiger</label><input type="text" placeholder="Tiger"></div>
            <div><label>Blue</label><input type="text" placeholder="Blue"></div>
            <div><label>Salmon</label><input type="text" placeholder="Salmon"></div>
            <div><label>Yellow</label><input type="text" placeholder="Yellow"></div>
            <div><label>Purple Yellow</label><input type="text" placeholder="Purple Yellow"></div>
            <div><label>Hendrix</label><input type="text" placeholder="Hendrix"></div>
            <div><label>Red</label><input type="text" placeholder="Red"></div>
            <div><label>White</label><input type="text" placeholder="White"></div>
            <div><label>Green</label><input type="text" placeholder="Green"></div>
            <div><label>Score:</label><button type="sumbit">Submit</button></div>

        </form>
    </div>
</div>