<div class="score-container">
    <div class="form-container">
        <form class="scores-form">
            <h2>Post your climbing scores</h2>
            <div><label>Spotty:</label><input type="text" placeholder="Spotty"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Black:</label><input type="text" placeholder="Black"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Tiger:</label><input type="text" placeholder="Tiger"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Blue:</label><input type="text" placeholder="Blue"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Salmon:</label><input type="text" placeholder="Salmon"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Yellow:</label><input type="text" placeholder="Yellow"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Purple Yellow:</label><input type="text" placeholder="Purple Yellow"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Hendrix:</label><input type="text" placeholder="Hendrix"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Red:</label><input type="text" placeholder="Red"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>White:</label><input type="text" placeholder="White"><button class="plus">+</button><button class="minus">-</button></div>
            <div><label>Green:</label><input type="text" placeholder="Green"><button class="plus">+</button><button class="minus">-</button></div>
            <div class="score-submit"><label>Score:</label><span class="score">100</span><button type="sumbit">Submit</button></div>

        </form>
    </div>
</div>