.login-container{
    background: $form-color;
    margin: auto;
    width: 300px;
    padding: 0 0px 20px 0px;
    border-radius: 7px;
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-weight: bold;
    font-size: 22px;
    color: $primary-button;
    nav{
        background: #bdd2d1;
        background: -webkit-linear-gradient(#bdd2d1, $form-color);
        background: -o-linear-gradient(#bdd2d1, $form-color);
        background: -moz-linear-gradient(#bdd2d1, $form-color);
        background: linear-gradient(#bdd2d1, $form-color);
        border-radius: 7px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        background-color: $form-color;
        width: 50%;
        display: inline-block;
        padding: 15px 0px 10px 0px;
    }
    .login-tab.unselected{
    border-bottom-right-radius: 7px;
    }
    .signup-tab.unselected{
    border-bottom-left-radius: 7px;
    }
    li.unselected{
        background-color: #bdd2d1;
        color: #a9acaf;
    }
    li.unselected:hover{
        background-color: #bdd2d1;
        color: #a9acaf;
        cursor:pointer
    }
    .input-section{
        padding-top: 10px;
    }
    input{
        width: 250px;
    }
    .form-input{
        height: 30px;
        padding-left: 5px;
        margin-top: 10px;
        border-radius: 2px;
        border: 1px $form-border solid;
        font-size: 16px;
    }
        .error-section{
        margin: auto;
        margin-top: 10px;
        width: 250px;
        border: red solid 1px;
        background-color: #f5ffbb;
        color: red;
        font-size: 12px;
        line-height: 12px;
        padding-top: 4px;
    }
    .form-button{
        height: 35px;
        margin-top: 20px;
        border-radius: 2px;
        border: 1px $form-border solid;
        color: white;
        background-color: $primary-button;
        font-weight: bold;
        font-size: 22px;

    }
    .form-button:hover{
        background-color: $primary-hover;
    }

}

.title{
    display: block;
    margin: auto;
    width: 400px;
    Margin-top: 100px;
    padding: 20px;
}

.form{
    display: inline-block;
    text-align: center;
}

@media screen and (max-height: 540px) {
    body{
        overflow: scroll;
    }
    .title{
        Margin-top: 0px;
    }
}

@media screen and (max-width: 450px) {
    .title{
        width: 300px;
    }
}