.score-container{
    height: 800px;
    background-color: white;
    color: black;
    text-align: center;
    .form-container{
        margin: auto;
        width: 500px;
        padding-top: 70px;
        .scores-form{
            background-color: #03a9f4;
            h2{
                font-weight: bold;
                padding: 20px 0px;
            }
            input, button{
                width: 60%;
                margin: 10px;
            }
            label{
                width: 20%;
                text-align: left;
            }
        }
    }
}