$primary-button: #102ab3;
$primary-hover: #14c8e2;
$form-color: #e7feff;
$form-border: #c6dff5;

html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: auto;
}
body {

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@import 'login';
@import 'dashboard';
@import 'scores';