<!DOCTYPE html>
<html ng-app = "climbing-app" lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/libs.js"></script>
        <script src="js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/libs.css">
        <link rel="stylesheet" type="text/css" href="styles/layout.css">
        <style>
        </style>
    </head>
    <body ng-controller="loginCtrl">
        <img class="title" src="img/Climbing-logo.png" alt="Climbing Logo">
        <div class="login-container">
            <div class="form">
                <form class="login-form">
                    <nav class="tab-section">
                        <ul>
                            <li class="login-tab" ng-click="clickLoginTab()" ng-class="isLogin?'selected':'unselected'">Login</li
                                ><li class="signup-tab" ng-click="clickSignupTab()" ng-class="isSignup?'selected':'unselected'">Sign up</li>
                        </ul>
                    </nav>
                    <div class="input-section">
                        <input class="form-input ng-cloak" type="text" placeholder="Email Address" ng-if="isSignup">
                        <input class="form-input" type="text" placeholder="Username">
                        <input class="form-input" type="password" placeholder="Password">        
                        <input class="form-input ng-cloak" type="password" placeholder="Confirm Password" ng-if="isSignup">
                    </div>
                    <div class="button-section">
                        <input class="form-button" type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>