<!DOCTYPE html>
<html ng-app = "climbingApp" lang="en">
    <head>
        <title>Climbing App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/libs.js"></script>
        <script src="js/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/libs.css">
        <link rel="stylesheet" type="text/css" href="styles/layout.css">
        <style>
        </style>
    </head>
    <body class="login-body" ng-controller="loginCtrl">
        <img class="title" src="img/Climbing-logo.png" alt="Climbing Logo">
        <div class="login-container">
            <div class="form">
                <form class="login-form" ng-submit="loginSubmit()">
                    <nav class="tab-section">
                        <ul>
                            <li class="login-tab" ng-click="clickLoginTab()" ng-class="isLogin?'selected':'unselected'">Login</li
                                ><li class="signup-tab" ng-click="clickSignupTab()" ng-class="isSignup?'selected':'unselected'">Sign up</li>
                        </ul>
                    </nav>
                    <div class="input-section">
                        <input class="form-input ng-cloak" ng-model="form.email" type="text" placeholder="Email Address" ng-if="isSignup" required>
                        <input class="form-input" ng-model="username" type="text" placeholder="Username" required>
                        <input class="form-input" ng-model="password" type="password" placeholder="Password" required>
                        <input class="form-input ng-cloak" ng-model="confirmPassword" type="password" placeholder="Confirm Password" ng-if="isSignup" required>
                    </div>

                    <div class="error-section ng-cloak" ng-if="loginError && isLogin">
                        <label><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Incorrect username and/or password</label>
                    </div>
                    <div class="error-section ng-cloak" ng-if="signupError && isSignup">
                        <label><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Username or Email Address already exists</label>
                    </div>

                    <div class="button-section">
                        <input class="form-button" type="submit" value="Login" ng-if="isLogin">
                    </div>
                    <div class="button-section">
                        <input class="form-button ng-cloak" type="submit" value="Signup" ng-if="isSignup">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>